@import '../styles/theme';

.App {
    padding: 40px;
    display: flex;
    flex-direction: row;
    max-width: 400px;
    flex-wrap: wrap;

    &-B {
        margin-left: 20px;
    }

    &-item {
        width: 60px;
        height: 60px;
    }
}